:root {
    --color: rgb(149, 149, 229);
    --selector: lightblue;
    --defpad: 20px;
    --defop: 0.2;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: var(--color);
}

ul {
    display: flex;
}

ul li {
    opacity: var(--defop);
    list-style-type: none;
    padding: var(--defpad);
    border: 2px solid white;
}

ul li:first-child {
    --color: lightcoral;
    background-color: var(--color);
}

.container {
    background-color: var(--selector);
}